<h1 class="text-center">Timely</h1>
<app-button color="{{ clicked ? 'red' : 'green' }}"
text="{{ clicked ? 'Stop' : 'Start' }}" (btnClick)="onStartStop()"></app-button>
<div class ="container">
    <div class="col-md-12 bg-light text-right">
        <button (click)="ExportToExcel()" class="btn btn-info">Export to Excel</button>
    </div>
    <div class = "card">
        <h3 class="text-center"> Project List</h3>
        <div class = "card-body">
            <table class="table table-striped" id="excel-table">
                <thead>
                    <th>Name</th>
                    <th> Start</th>
                    <th> Stop</th>
                    <th> Duration</th>
                    <th> Info</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor = "let project of projects">
                        <td> {{project.projectName}}</td>
                        <td> {{project.projectStart}}</td>
                        <td> {{project.projectStop}}</td>
                        <td> {{project.projectDuration}}</td>
                        <td><button (click)="onDelete(project)" class="btn btn-danger">Delete</button></td>
                        <div style="display: inline-block;">
                            <td>
                                <div>Edit</div>
                                <input type="text" id="editNameId" class="form-control" placeholder="Edit name...">
                                <input type="datetime-local" id="editStartId" class="form-control">
                                <input type="datetime-local" id="editStopId" class="form-control">
                                <button (click)="dohvacanje(project)" class="btn btn-info">Edit</button>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


